/* MAIN DIV STYLING */
#root {
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5vw;
  background-color: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cv-input-container, 
.cv-output-container {
  height: auto;
  margin-top: 5vh;
}

.cv-input-container {
  border: 1mm solid gray;
  background-color: whitesmoke;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  border-radius: 20px;
}

/* STYLING FOR CV OUTPUT DIV AND ELEMENTS */
.cv-output-container {
  border: 1mm solid black;
  width: 55vw;
  margin-bottom: 4vw;
  margin-right: 1vw;
}
.cv-output-header {
  background-color: blueviolet;
  padding: 1vw;
  display: grid; /* Use flexbox for layout */
  grid-template-columns: 3fr 2fr;
  align-items: center; /* Vertically align items */
  border-bottom: 1px solid #ccc; /* Optional bottom border */
  min-height: 18vh;
  margin-bottom: 2vw;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.cv-output-header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1vw;
  text-align: left;
  margin-bottom: 1vw;
}

.cv-output-topic-row {
  display: flex;
  justify-content: space-between;
}

.cv-output-content-div,
.cv-output-content-div-supplemental {
  padding: 2vw;
  margin-top: -3vw;
  background-color: whitesmoke;
}

.cv-output-content-div li,
.cv-output-content-div-supplemental li {
  margin-left: 2vw;
}

.cv-output-content-div li:first-of-type {
  margin-top: 1vw;
}

.cv-output-content-div .title {
  margin-top: 1vw;
}

.cv-output-content-div-supplemental h2 {
  margin-bottom: 1vw;
}

/* STYLING FOR CV INPUT DIV AND ELEMENTS */

.cv-input-container .cv-input-button {
  border: 1mm solid gray;
  border-radius: 15px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 0.5vw;
  font-size: 2vw;
}

.cv-input-button {
  padding: 1.5vw;
  width: 25vw;
}

form {
  line-height: 2rem;
}

.card .submit{
  padding: 5px;
  font-size: 1vw;
  transform: translate(51%);
  background-color: lightgray;
  border: 1mm solid gray;
  margin-top: 1vw;
}

.card {
  min-width: 100%;
  border: 1mm solid gray;
  border-radius: 20px;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 1vw;
  position: relative;
  background-color: bisque;
}

.card label {
  display: block;
  text-align: left;
}

.card input, 
.card textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
  font-size: 1vw;
}

.card textarea {
  height: 8vh;
}

.card textarea:focus {
  height: 12vh;
}

.card .exit {
  padding: 5px;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
}

ul.cv-output-skills-list {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

ul.cv-output-list {
  
}