/* MAIN DIV STYLING */
#root {
  height: 100vw;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.cv-input-container, 
.cv-output-container {
  height: 90vw;
  border: 1mm solid black;
}

.cv-input-container {
  width: 35vw;
}

/* STYLING FOR CV OUTPUT DIV AND ELEMENTS */
.cv-output-container {
  width: 55vw;
}
.cv-output-header {
  background-color: blueviolet;
  padding: 1vw;
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Vertically align items */
  border-bottom: 1px solid #ccc; /* Optional bottom border */
  height: auto;
  margin-bottom: 2vw;
}

.cv-output-header-contacts {
  display: flex;
  justify-content: space-evenly;
  gap: 5vw;
  font-size: 1.5vw;
  margin-top: -2vw;
}

.cv-output-resume-section {
  margin-bottom: -2vw;
}

.cv-output-topic-row {
  display: flex;
  justify-content: space-between;
}

.cv-output-content-div,
.cv-output-content-div-supplemental {
  padding: 1rem;
  margin-top: -3vw;
}

.cv-output-content-div-supplemental h2 {
  margin-bottom: 2vw;
}

/* STYLING FOR CV INPUT DIV AND ELEMENTS */

.cv-input-container button {
  border: 1mm solid gray;
}